.header-top {
  background-color: #282828 !important;
}

.orange-text{
  color: #f7cd3a !important;
}

.orange-bg{
  background-color: #f7cd3a !important;
}

.purple-bg{
  background-color: #4c4892 !important;
}
.purple-text{
  color: #4c4892;
}
.purple-border{
  border: 2px solid #4c4892 !important;
}

