.dropdown button {
  background-color: #e8e8e8;
  color: #878787;
}

.dropdown button:hover {
    color: #878787;
  background: linear-gradient(#492f92, #f5f5f5, #d5d5d5);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a{
    color: black;
    text-decoration: none;
}
.dropdown-menu li:hover{
    background-color: #492f92;
    color: #878787;

}

.nav-links {
  list-style: none;
  display: flex;
}
